body {
    font-family: 'Open Sans',
        sans-serif;
    color      : #7581a1;
    font-size  : 16px;
    line-height: 26px;
    margin     : 0;
    padding    : 0;

    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-size     : 80px;
    font-weight   : 600px;
    color         : #192b59;
    letter-spacing: -2.5px;
    line-height   : 1.1;
    max-width     : 600px;
    margin-bottom : 65px;
}

.wrap {
    max-width     : 1110px;
    margin        : 0 auto;
    padding-bottom: 33px;
}

.box-header {
    display           : flex;
    justify-content   : space-between;
    align-items       : center;
    /* padding-top    : 53px; */
    margin-bottom     : 310px;
}

.logo {
    height           : 50px;
    width            : 181px;
    background-image : url(../img/logo.png);
    background-repeat: no-repeat;
    display          : block;
}

.nav {
    font-size      : 12px;
    list-style-type: none;
    padding        : 0;
    margin         : 0;
    display        : flex;
}

.nav>li {
    padding       : 0 15px;
    text-transform: uppercase;
}

.nav-item {
    color         : #6e7ea9;
    letter-spacing: 2px;
}

.screen-img {
    display          : block;
    background-image : url(../img/header-screen.png);
    background-repeat: no-repeat;
    height           : 760px;
    width            : 931px;
    position         : absolute;
    top              : 210px;
    right            : -50px;


}

.btn-group a+a {
    margin-left: 15px;
    transition : .3s;
}

.btn-primary {
    font-size       : 12px;
    color           : #fff;
    background-color: #1085e4;
    border          : 1px solid #1085e4;
    text-transform  : uppercase;
    font-weight     : 700;
    padding         : 20px 30px;
    border-radius   : 30px;
    transition      : .3s;

}

.btn-primary:hover {
    color           : #1085e4;
    background-color: #fff;

}

.btn-secondary {
    font-size       : 12px;
    letter-spacing  : 2.5px;
    color           : #7e8bae;
    border          : 1px solid #cbdbe8;
    background-color: #cbdbe8;
    text-transform  : uppercase;
    font-weight     : 700;
    padding         : 20px 30px;
    border-radius   : 30px;
    transition      : .3s;

}

.btn-secondary:hover {

    background-color: #fff;

}

.btn-info {
    font-size       : 12px;
    letter-spacing  : 2.5px;
    color           : #8085b1;
    border          : 1px solid #dce1e5;
    background-color: transparent;
    text-transform  : uppercase;
    font-weight     : 700;
    padding         : 20px 30px;
    border-radius   : 30px;
    transition      : .3s;
}

.btn-info:hover {
    font-size       : 12px;
    letter-spacing  : 2.5px;
    color           : #fff;
    border          : 1px solid #dce1e5;
    background-color: rgba(26, 136, 225, .6);
    text-transform  : uppercase;
    font-weight     : 700;
    padding         : 20px 30px;
    border-radius   : 30px;

}

.list-company {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    min-height     : 270px;
}

.list-company-item {
    display   : block;
    height    : 72px;
    flex-basis: 200px;

}

.company-one {
    background-image : url(../img/brand-t.png);
    background-repeat: no-repeat;

}

.company-two {
    background-image : url(../img/brand-m.png);
    background-repeat: no-repeat;

}

.company-three {
    background-image : url(../img/brand-b.png);
    background-repeat: no-repeat;

}

.company-four {
    background-image : url(../img/brand-f.png);
    background-repeat: no-repeat;

}

.btn-free {
    color         : #fff;
    font-weight   : 400;
    letter-spacing: 2px;
}

.grid {
    display            : grid;
    grid-template-areas: "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";


    max-width               : 1110px;
    /* margin               : 120px auto; */
    /* grid-template-columns: 1f1 1fr 1fr; */
}

.grid h2 {
    line-height: 1.2;
}

.grid h2 span {
    line-height: 2.5;
}

.grid-item {
    /* box-shadow: 10px 2px 10px rgba(245, 245, 245, .5); */
    box-shadow: 0px 10px 20px 10px rgba(245, 245, 245, 0.8);
    margin    : 30px;
    text-align: center;
}

.grid-item h3 {
    color    : #192b59;
    font-size: 20px;
}

.grid-item a {
    font-size: 14px;
    color    : #1085e4;
}

.grid-item p {
    margin: auto 35px 30px 35px;
}

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: d;
}


.grid-item-2 {
    grid-area: b;
}

.grid-item-3 {
    grid-area: c;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area   : h;
    margin-top  : 50px;
    margin-left : 50px;
    margin-right: 50px;

}

.grid-text p {
    font-size: 16px;
    color    : #7b8ab2;
}

.grid-text p span {
    font-weight: bold;
    font-size  : 16px;
    color      : #192b59;
}

.grid-text p span.blue {

    font-size: 14px;
    color    : #1085e4;
}

.grid h2 {
    color      : #192b59;
    font-size  : 40px;
    font-weight: 700;
}

.grid h2 span {
    color    : #1085e4;
    font-size: 14px;
    display  : block;
}



.grid-icon {
    background-repeat: no-repeat;
    display          : block;
    margin           : 0 auto;
    height           : 95px;
    width            : 90px;

}

.grid-icon-1 {
    background-image: url(../img/features-icon-mobile.png);
    margin          : 0 auto 36px;

}

.grid-icon-2 {

    background-image: url(../img/features-icon-list.png);
}

.grid-icon-3 {

    background-image: url(../img/features-icon-customize.png);
}

.grid-icon-4 {

    background-image: url(../img/features-icon-edit.png);
}

.grid-icon-5 {

    background-image: url(../img/features-icon-design.png);
}

.grid-icon-6 {
    background-image: url(../img/features-icon-support.png);
}

.page-softwere-flex {
    display        : flex;
    justify-content: flex-end;
}

.page-softwere-flex .page-softwere-content {
    flex-basis: 55%;
}

.page-softwere-pic {
    display            : block;
    width              : 937px;
    height             : 986px;
    background-image   : url(../img/software-laptop.png);
    background-repeat  : no-repeat;
    background-size    : 100% 70%;
    background-position: 0 0;
    position           : absolute;
    left               : -20px;
    bottom             : -150px;




}

.page-softwere-icon {
    display          : block;
    background-image : url(../img/software-icon.png);
    background-repeat: no-repeat;
    width            : 117px;
    height           : 98px;

}

.page-softwere .title-h2 {
    max-width : 550px;
    margin-top: 12px;
}

dd {
    display            : block;
    margin-inline-start: 40px;
}

.page-softwere-list {
    margin    : 30px;
    height    : 340px;
    overflow  : hidden;
    overflow-y: scroll;
}

/*decore scroll bar start */
.page-softwere-list::-webkit-scrollbar {
    width : 4px;
    height: 4px;
}

/* .page-softwere-list::-webkit-scrollbar-button {
    background-color: #1085e4;
} */

/* .page-softwere-list::-webkit-scrollbar-track {
    background-color: #1085e4;
} */

.page-softwere-list::-webkit-scrollbar-track-piece {
    background-color: #f3f6ff;
}

.page-softwere-list::-webkit-scrollbar-thumb {
    height          : 50px;
    background-color: #1085e4;
    border-radius   : 3px;
}

/* .page-softwere-list::-webkit-scrollbar-corner {
    background-color: #999;
} */

/* .page-softwere-list::-webkit-resizer {
    background-color: #666;
} */

/*end decor*/


.page-softwere-list dt {
    font-weight: 700;
}

.page-softwere-list dd {
    margin-left  : 0;
    margin-bottom: 10px;
}

.list-stat {
    display        : flex;
    list-style-type: none;
    justify-content: space-around;
}

.list-stat>li {
    font-size     : 12px;
    font-weight   : 700;
    color         : #1085e4;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display       : block;
    font-size     : 60px;
    color         : #bacbdc;
    margin-bottom : 23px;
    letter-spacing: 0;
}

.title-h2 {
    font-size     : 50px;
    font-weight   : 600;
    color         : #192b59;
    max-width     : 500px;
    line-height   : 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display       : block;
    text-transform: uppercase;
    color         : #1085e4;
    font-size     : 16px;
    font-weight   : 800;
    letter-spacing: 3px;
    margin-bottom : 14px;
}

.title-40 {
    display       : block;
    font-size     : 40px;
    font-weight   : 600;
    color         : #192b59;
    line-height   : 1.2;
    letter-spacing: -1.5px;

}

.title-40 span {
    font-size     : 18px;
    display       : block;
    text-transform: uppercase;
    color         : #1085e4;
    font-weight   : 800;
    letter-spacing: 3.5px;
    margin-bottom : 20px;
}

.page-stat .title-h2,
.page-screen .title-40 {
    text-align: center;
    margin    : 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.screen {
    margin-top   : 36px;
    margin-bottom: -7px;
    width        : 100%;
}

.box-price {
    display        : flex;
    justify-content: space-between;
}

.box-price-item {

    background      : url(/img/price-tringle.png)right no-repeat;
    background-color: #f5faff;
    min-width       : 350px;
    max-width       : 350px;
    min-height      : 620px;
}



.box-price-item.active {
    background: #192b59;
    color     : #fff;
}

.box-price-item strong {
    font-size     : 14px;
    font-weight   : bold;
    color         : #3f97ff;
    letter-spacing: 5px;
    margin-top    : 0px;
    padding-top   : 0;

}

.box-price-item.active strong {
    color: #fff;
}

.box-price-item ul {
    list-style  : none;
    padding-left: 0;
}

.box-price-item ul li {
    margin-bottom: 20px;
}

.box-price-item ul li:first-child {
    margin-top: 50px;
}

.box-price-item ul li:last-child {
    margin-bottom: 50px;
}

.box-price-item h3 {
    color         : #000958;
    font-size     : 70px;
    margin-bottom : 0px;
    padding-bottom: 0;
    margin-top    : 80px;

}

.box-price-item p {
    margin: 0 auto;
}

.box-price-item p {
    margin: 20px auto;

}

.box-price-item p.first-element {
    margin-top: 35px;

}

.box-price-item h3 span {
    color         : #000958;
    font-size     : 20px;
    margin-bottom : 0px;
    padding-bottom: 0;
}

.box-price-item h3 span.mo,
.box-price-item.active h3 span.mo {
    color: #7b8ab2;
}

.box-price-item.active h3 {
    color    : #fff;
    font-size: 70px;
}

.box-price-item.active h3 span {
    color: #fff;
}

.page-subscribe-right {
    align-self: center;

}

.page-subscribe-left h2 {
    margin-top   : 120px;
    font-size    : 50px;
    margin-bottom: 33px;
    color        : #fff;


}

.page-subscribe-left p {
    max-width    : 450px;
    color        : #dfe8ff;
    margin-bottom: 42px;
}

.page-subscribe-left h2 span {
    color        : #00bffe;
    font-weight  : 900;
    display      : block;
    margin-bottom: 20px;
    font-size    : 14px;
}

.page-subscribe-left input {

    /* border-radius: 42px;
    border-color : #3e57ad;
    border-width : 3px; */

    color           : #92a4da;
    text-align      : center;
    padding         : 30px 335px 30px 42px;
    font-size       : 14px;
    background-color: transparent;

}

/* .page-subscribe-left input::placeholder {
    color: #92a4da;
    ;
} */
.box-subscribe-user {
    position: relative;
}

.box-subscribe-user input {
    border       : 2px solid #3f5cb1;
    border-radius: 42px;
    width        : 100%;
    display      : block;
    box-sizing   : border-box;

    box-shadow: 10px 5px 15px rgba(0, 0, 0, .5);
}

/*style placeholder-start*/
/* сдвиг placeholder-а вправо при фокусе*/

.box-subscribe-user input::-webkit-input-placeholder {
    text-indent: 0px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
    text-indent: 0px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input:-moz-placeholder {
    text-indent: 0px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input:-ms-input-placeholder {
    text-indent: 0px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input:focus,
.box-subscribe-user .btn-primary {
    outline: none;
}

.box-subscribe-user input:focus::-moz-placeholder {
    text-indent: 500px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input:focus:-moz-placeholder {
    text-indent: 500px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

.box-subscribe-user input:focus:-ms-input-placeholder {
    text-indent: 500px;
    transition : text-indent 0.3s ease;
    color      : #b1c3ee;
}

/*style placeholder-end*/



.box-subscribe-user .btn-primary {
    position: absolute;
    top     : 11px;
    right   : 14px;
}


.page-subscribe-right {
    height: 415px;
}

.page-app-text {
    font-size     : 16px;
    font-weight   : 700;
    text-transform: uppercase;
    color         : #c4d2dd;
}

.page-app-list {
    padding: 0;
}

/*from one pic*/
.page-app-list>li {
    display: inline-block;
}
.page-app-list>li>a {
    background-image : url(../img/android-ios.png);
    background-repeat: no-repeat;
    display          : block;
    width            : 185px;
    height           : 77px;
}

.page-app-list>li>a.page-app-android {
    background-position: 0 0;
}
.page-app-list>li>a.page-app-ios{
    background-position: -191px 0;
}
.content-app{
    width: 55%;
}
.content-app .title-h2{
    margin-bottom: 20px;
    
}
a.video-app{
    position: absolute;
    top: -61px;
    right: -172px;
}
.page-analytics-h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #192b59;
}
.page-content p{
    margin-bottom: 40px;
    font-size: 16 px;
}
.page-content img{
    
}

/*********** PAGE*************** */
.page-header {
    background-image : url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size  : cover;
    padding          : 53px 0 330px 0;
    position         : relative;
    margin           : 0;
    background-position: center;

}

.page-company {
    background-image : url(../img/brands-bg.png);
    background-repeat: no-repeat;
    background-size  : cover;
    background-position: center;
}

.page-grid {
    display        : grid;
    justify-content: center;
    margin         : 120px auto;

}

.page-stat,
.page-screen {
    background-color: #edf6ff;
}

.page-stat {

    padding: 116px 0 96px 0;
}

.page-screen,
.page-plan {
    text-align: center;
}

.page-screen {
    padding: 116px 0 0 0;
}

.page-subscribe {
    display        : flex;
    justify-content: space-around;

    height: 520px;

    /*gradient-start*/
    background: rgba(10, 32, 144, 1);
    background: -moz-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10, 32, 144, 1)), color-stop(100%, rgba(35, 119, 205, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    background: linear-gradient(135deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a2090', endColorstr='#2377cd', GradientType=1);
    /*gradient-end*/
}

.page-softwere {
    background-image : url(../img/software-bg.png);
    background-repeat: no-repeat;
    background-size  : cover;
    background-position: center;
    padding-top      : 115px;
    padding-bottom   : 156px;
    position         : relative;
}

.page-app{
    
    padding: 20px 0;
}
.page-app .wrap{
position: relative;
}
.page-analytics{
    background-image: url(../img/action-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page-analytics .wrap{
    padding: 130px;
    display: flex;
}